*{
    box-sizing: border-box;
}

nav{
    display: flex;
    background-color: black;
    color: lightgray;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: center;
}

nav *{
    color: lightgray;
    padding: 5px;
}

nav form{
    margin-left: auto;
}

nav form button{
    color: black;
}

footer{
    display: flex;
    background-color: dimgray;
    color: lightgray;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
header{
    display: flex;
    background-color: dimgray;
    color: lightgray;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 100px;
}
