<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create</title>
</head>
<body>
<header th:include="partials::my-header"></header>
<nav th:include="partials::my-navbar"></nav>

<h1>This is the create post page</h1>
<h2>Here is the form:</h2>
<form method="post">
    <h5>enter title:</h5>
    <input type="text" name="title" id="title">
    <br>
    <br>
    <h5>enter body of post:</h5>
    <textarea name="body" id="body" rows="25" cols="100"></textarea>
    <br>
    <input type="submit" value="submit post">
</form>


<footer th:include="partials::my-footer"></footer>
</body>
</html>