<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Show</title>
</head>
<body>
<header th:include="partials::my-header"></header>
<nav th:include="partials::my-navbar"></nav>

<h1>This is the show page</h1>
<h2>Here is one post:</h2>
<div th:each="post : ${posts}">
    <hr>
    <h3><span th:text="${post.getTitle()}"></span></h3>
    <p><span th:text="${post.getBody()}"></span></p>
    <h6>submitted by: <span th:text="${post.getUser().getEmail()}"></span></h6>
    <hr>
</div>
<footer th:include="partials::my-footer"></footer>
</body>
</html>
