<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials::head">
<body>
<header th:include="partials::my-header"></header>
<nav th:include="partials::my-navbar"></nav>
<h1>Log In</h1>
<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" method="post">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <input type="submit" value="Log In" />
</form>
<br>
<br>
<footer th:include="partials::my-footer"></footer>
</body>
</html>
